/* Viewports */
$screen-small: 320px;
$screen-medium: 720px;
$screen-wide: 900px;

/*Measurements*/
$gutter: 16px;
$nav-hrz-height: 30px;
$nav-vrt-height: 70px;

/* Colors */
$color-red: #e21e25;
$color-purple: #7251a2;
$color-green: #bed431;
$color-blue: #5ecae6;
$color-yellow: #f6c715;
$color-pink: #f11aa8;
$color-orange: #fe4419;
$color-juri: #777777;
$color-juri-light: #999999;

/* Fonts */
@font-face {
  font-family: 'BebasRegular';
  src: url('../fonts/BEBAS___-webfont.eot');
  src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BEBAS___-webfont.woff') format('woff'),
  url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
  url('../fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Animations */
@keyframes letterAnimation {
  0% {
    top: 0;
  }
  50% {
    top: 0.2em;
  }
  100% {
    top: 0;
  }
}
@keyframes photoSpinAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

:export {
  colorRed: $color-red;
  colorPurple: $color-purple;
  colorGreen: $color-green;
  colorBlue: $color-blue;
  colorOrange: $color-orange;
  colorYellow:$color-yellow;
  colorPink: $color-pink;
}
