@import "./_vars.scss";

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9em;
  line-height: 1.3em;
  color: $color-juri;
  overflow: hidden;
  min-width: calc(320px - 32px);
}

.Nav {
  width: calc(320px - 32px);
  height: $nav-vrt-height;
  padding: $gutter;
  justify-self: flex-start;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $screen-small) {
    flex-flow: row;
    margin-left: auto;
    height: $nav-hrz-height;
    width: 30vw;
  }

  .NavLink {
    text-decoration: none;

    .NavItem {
      font-size: calc(12px + 1vw);
    }
    &:hover {
      text-decoration: underline;
    }
    &:nth-child(1) {
      color: $color-blue;
    }
    &:nth-child(2) {
      color: $color-green;
    }
    &:nth-child(3) {
      color: $color-pink;
    }
  }
}

.Header {
  height: calc(100vh - 32px - 70px);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $screen-small) {
    height: calc(100vh - 32px - 30px);
  }

  .Heading {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;

    .Title {
      font-family: 'BebasRegular';
      color: $color-purple;
      font-size: calc(40px + 9vw);
      line-height: calc(30px + 8vw);
      display:flex;
      flex-flow: column;
      align-items: center;

      .TitleSegment {
        display: flex;
        opacity: 0.7;

        .Letter {
          mix-blend-mode: color-burn;
          position: relative;
          transition: top ease 0.1s;
          transition-delay: 2s;
          transition: top ease 0.1s;
          transition-delay: 2s;

          &.hovered {
            animation: letterAnimation 3s;
          }
        }
      }
    }

    .Headline {
      font-size: calc(12px + 1vw);
      margin: 1em 0;
    }

    .SocialBar {
      font-size: calc(25px + 2vw);
      display: flex;
      justify-content: space-between;

      a {
        color: $color-juri-light;
        opacity: 0.7;
        cursor: pointer;
        margin: 0 1vw;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.Section {
  padding: $gutter;

  .Title {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
    padding-bottom: $gutter;
  }

  p {
    text-align: justify;
    margin-top: 0;
  }
}

#about {
  img {
    border-radius: 50%;
  }
  .Body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .Description {
      flex: 1 1 70%;
    }
    .Photo {
      margin-left: 1em;
    }
  }
}

#contact {
  .Body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
}

#stack {
  .Body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    .SkillSet {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
    }
  }
}
